@import "../../../styles/color.module.scss";

.universalButton{
    width: auto;
    margin: 1px;
    padding: 3px 15px 3px 15px;
    font-family: sans-serif;
    font-size: 30px;
    border-radius: 2px;
}

.submit_button{
    @extend .universalButton;
    background-color: $submit_button_color;
    color: $primary-color;
    border: 2px $submit_button_color;
}

.cancel_button{
    @extend .universalButton;
    background-color:$error-red;
    color:$primary-color;
    border: 2px $error-red;
}